body{
    background-color: #1a1e27;
    font-family:Arial, 
}

.area-login{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    justify-content:center;
    align-items: center;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #212442;
    border-radius: 20px;
    width: 390px;
    height: 399px;
    padding: 50px;
    

}

.login form{
    display: flex;
    width: 100%;
    flex-direction: column;

}

.login input{
    margin-top: 15px;
    background-color: #292d4f;
    color: #cbd0f7;
    border: none;
    height: 35px;
    outline: none;
    border-radius: 15px;
    padding: 10px;


}
.logiin img{
    width: 100px;
    height: auto;

}

.input::placeholder{
    color: #cbd0f7;
    font-size: 15px;
    
}   

form [type="submit"]{
    display: block;
    background-color: #5568fe;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;

}

p{
    color: #cbd0f7;
}

a{
    color: #5568fe;
    text-decoration: none;
    margin-left: 10px;
}